{% extends "框.html" %}

{% block 內容 %}
	{{ 表格.non_field_errors }}
	<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	<table class="資料">
		<tr>
			<td>
        	   	{% include "一格資料.html" with 資料=表格.漢字 %}
   			</td>
			<td>
        	   	{% include "一格資料.html" with 資料=表格.臺羅 %}
   			</td>
		</tr>
		<tr><td colspan='2'
    	   	{% include "一格資料.html" with 資料=表格.音檔 %}<br/>
    	   	{% include "一格資料.html" with 資料=表格.備註 %}<br/>
			<input type="submit" value="確定" />
 		</td></tr>
	</table>
	</form>
{% endblock %}